#!/bin/bash
#SBATCH --partition={{partition}}
#SBATCH --time={{time}}

set -e
cd {{workspace_location}}
echo "============="
ls
echo "============="

if ! command -v uv >/dev/null 2>&1; then
    curl -LsSf https://astral.sh/uv/install.sh | sh
fi

uv sync

echo "Running"

uv run - <<'EOF'
from slurm_executor.executor.CloudpickleExecutor import CloudpickleExecutor

executor = CloudpickleExecutor(
    deserialize_from="{{remote_call_location}}"
)
executor.run()

EOF