#!/bin/bash
#SBATCH --partition={{partition}}
#SBATCH --time={{time}}

set -e
cd {{workspace_location}}

if ! command -v /root/.local/bin/uv >/dev/null 2>&1; then
    curl -LsSf https://astral.sh/uv/install.sh | sh
fi

/root/.local/bin/uv sync

echo "Running"

/root/.local/bin/uv run - <<'EOF'
from slurm_executor.executor.CloudpickleExecutor import CloudpickleExecutor

executor = CloudpickleExecutor(
    deserialize_from="{{remote_call_location}}"
)
executor.run()

EOF