rsync -e 'ssh -p {{port}}' {%if dry_run %}--dry-run --itemize-changes{% else %}--info=progress2{%endif%} --delete -az{% if exclusion_file %} --exclude-from={{exclusion_file}}{% endif %}{% if inclusion_file %} --files-from={{inclusion_file}}{% endif %} {% if direction == "to_remote" %}{{local_root}} {{user}}@{{host}}:{{remote_root}}{% else %}{{user}}@{{host}}:{{remote_root}} {{local_root}}{% endif %}