rsync -e 'ssh -p {{port}}' --delete --info=progress2 -az{% if exclusion_file %} --exclude-from={{exclusion_file}}{% endif %}{% if inclusion_file %} --include-from={{inclusion_file}}{% endif %} {% if direction == "to_remote" %}{{local_root}} {{user}}@{{host}}:{{remote_root}}{% else %}{{user}}@{{host}}:{{remote_root}} {{local_root}}{% endif %}